@import "tailwindcss";

.box {
    width: 20px;
    height: 35px;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    font-weight: bold;
    color: black;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

.box2 {
    width: 12px;
    height: 35px;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    font-weight: bold;
    color: black;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}